.explore {
  background: $light-grey;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    color: black;
    text-align: center;
    padding: 2.7rem 2.9rem 0 2.9rem;
  }
  &__title {
    font-size: 1.5rem;
    margin: 0;
  }
}
