.footer {
  background-color: #353535;
  padding: 18px 0px 18px 24px;
  a {
    color: white;
  }
  &__title {
    font-size: 20px;
    font-family: "shrikhand";
  }
  .content {
    margin-top: 15px;
    &__subtitle {
      margin-bottom: 8px;
    }
    .fas {
      margin-right: 10px;
      color: white;
    }
    .icon {
      font-size: 10px;
    }
    &__list {
      list-style-type: none;
      padding: 0;
    }
    &__listdetail {
      padding-top: 3px;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 3rem 4rem 2rem 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    &__title {
      font-size: 1.1rem;
    }
    .content {
      &__subtitle {
        display: flex;
      }
      &__list {
        display: flex;
        padding-right: 5rem;
      }
      &__listdetail {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
