.function {
  &__title {
    padding: 28px 0px 8px 26px;
    font-weight: 800;
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .function {
    display: flex;
    flex-direction: column;
    &__title {
      padding-left: 180px;
      font-size: 25px;
      padding-top: 25px;
      padding-bottom: 0px;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 3rem;
      margin-right: 3rem;
    }
    &__content {
      display: flex;
      width: 80%;
    }
  }
}
