.function {
  &__title {
    padding: 28px 0px 8px 26px;
    font-weight: 800;
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .function {
    display: flex;
    flex-direction: column;
    &__title {
      padding-left: 180px;
      font-size: 25px;
      padding-top: 25px;
      padding-bottom: 0px;
    }
    .test1 {
      display: flex;
      width: 80%;
    }
  }
}
