.step {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 5px 10px #0000002e;
  background-color: $light-grey;
  width: 87%;
  margin: 2rem 2.5rem 1.5rem 2rem;
  border-radius: 18px;
  height: 4rem;
  &__content {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
  }
  &__icon {
    color: GREY;
    font-size: 20px;
    width: 50px;
    margin-left: 2rem;
    &--1 {
      color: $primaire;
    }
  }
  &__circle {
    padding: 2px 6px;
    color: white;
    margin: 0;
    background-color: $primaire;
    border-radius: 15px;
    height: 17px;
    position: absolute;
    left: 22px;
  }
  &__number {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .step {
    margin: 1rem;
    &__circle {
      position: relative;
      left: -10px;
    }
    &__text {
      padding-right: 3rem;
      font-size: 15px;
    }
    &__icon {
      margin-left: 0.9rem;
      width: 33px;
    }
  }
  .test2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
