@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
@font-face {
  font-family: "shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}

h1,
h2,
h3,
p,
a {
  font-family: "Roboto";
}
